@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #6C7587;
    background-color: rgb(7, 8, 24);
}

.container {
    max-width: 390px;
}

a {
    color: #36D7E0;
    display: inline-block;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px 8px 10px 8px;
    color: #cccccc;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #EBECF0;
    padding: 30px;
    width: 90%;
    height: 520px;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 3px solid #36D7E0;
}

input[type=reset] {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #6C7587;
    padding: 0 8px;
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0);
    outline: none;
    text-align: center;
    background-color: #EBECF0;
    transition: all 250ms ease-in-out;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    line-height: 18px;
    color: #6C7587;
    padding: 0 8px;
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0);
    outline: none;
    text-align: center;
    background-color: #EBECF0;
    transition: all 250ms ease-in-out;
}

input:hover,
button:hover {
    box-shadow: none;
    border-color: #36D7E0;
}

input {
    box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}

input:focus {
    box-shadow: none;
    border-color: #36D7E0;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #6C7587;
    opacity: 1;
}

button {
    box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
    cursor: pointer;
    color: #36D7E0;
    margin-top: 25px;
}

button:active {
    box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
    border-color: #36D7E0;
}

button>* {
    vertical-align: middle;
}

button>span:last-child {
    padding-left: 8px;
}

.oval-lg {
    height: 52px;
    width: 240px;
    padding: 0 20px;
    border-radius: 40px;
}

#surname {
    margin-top: 10px;
}

#group {
    margin-top: 10px;
}

#password {
    margin-top: 10px;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

*:focus {
    outline: none;
}

#icon {
    width: 45%;
}