@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #6C7587;
    background-color: rgb(7, 8, 24);
}

.container {
    max-width: 390px;
}

p {
    color: #0d0d0d;
    border-bottom: 3px solid #36D7E0;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    padding: 20px;
}

.loading-box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0F8FF;
    border-radius: 12px;
    background-color: #EBECF0;
    -b-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.loading-title {
    font-size: 1.5em;
    transform: translateY(-12px);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
}

.loading-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background: conic-gradient(from 0deg at 50% 50%, rgb(0, 21, 250) 0%, #36D7E0 0%, rgb(7, 8, 24) 0%);
    border-radius: 100px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-count {
    content: ' ';
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;
    left: 3px;
    width: 174px;
    height: 174px;
    color: #0d0d0d;
    border-radius: 100px;
    background-color: #EBECF0;
    box-shadow: inset -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
    animation: spin 1s infinite linear reverse;
}

.loading-count #loadingNumber {
    font-size: 3.2em;
}